body {
	height:1000px;
}

.scrollable {
	background-color: #f1f1f1;
	height:100px;
	overflow-y:scroll;
}


.listview {
	background-color: #f1f1f1;
	border: 3px solid #555;
	border-radius: 5px;
	list-style-type: none;
	text-decoration: none;

}

.listview > li {
	border-top: 3px solid #555;
	list-style-type: none;
	margin-left: 0px;
	text-decoration: none;
	position:relative;
	display:block;
}

ul.listview > li:first-child {
	border-top: none;
	list-style-type: none;
	text-decoration: none;
}

.listview > li a{
	border: none;
	display: block;
	padding: 20px 40px;
}

.listview > li:hover {
	background-color: #555;
	list-style-type: none;
	text-decoration: none;
}

.submenu {
	display: none;
	position: relative;
}

.submenu > li{
	background-color: #fff;
	border-top: 1px solid #555;
	list-style: none;
	padding: 10px;
	text-decoration: none;
	position:relative;
	display:block;
}

.newBtn {
	display: block;
	margin-bottom: 20px;
}

#cd-popup {
	display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 45%;
    height: 35%;
    padding: 16px;
    border: 5px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

.cd-popup {
	display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 45%;
    height: 45%;
    padding: 16px;
    border: 5px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

.cd-buttons > li {
	text-align: center;
	background-color: #fff;
	position: relative;
	display: inline;
}

.cd-buttons > li > a {
	border: 1px solid #555;
	display: inline-block;
	list-style: none;
	margin: 10px 10px;
	padding: 10px 20px;
	text-decoration: none;
}

.cd-buttons > li > input {
	border: 1px solid #555;
	list-style: none;
	margin: 10px 10px;
	padding: 10px 20px;
	text-decoration: none;
}

.active-btn {
	box-shadow: inset 0 0 0 1px #ffffff,inset 0 5px 30px #000;
}

